@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@100;200;400;700&family=Roboto:wght@100;400;700&display=swap");



.modal-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(189,189,189,0.9);
  }
  
  .modal-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 60rem;
    max-height: 60rem;
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
  }
  